<div class="landing-page">
  <section class="services center-content">
    <h1>Sandra Patricia Fajardo</h1>
    <p>{{text}}</p>
    <h3>Asesorpia virtual 1 hora de:</h3>
    <ul>
      <li>Test de estado físico</li>
      <li> índice de masa corporal</li>
      <li>rutina de ejercicios</li>
    </ul>
    <p></p>
    <div class="payment-conditions center-content">
      <p>El pago se realizará durante la sesión agendada. Por favor, ten tu
        móvil listo para pagar con Nequi</p>
    </div>
    <button class="schedule">Agenda tu sesión</button>
  </section>



  <footer>
    <p>Copyright © 2021 Sandra Fitnes</p>
  </footer>
</div>
